NEXT_PUBLIC_SUPABASE_URL=https://fuuoxjbzoqdpvplrsdzj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1dW94amJ6b3FkcHZwbHJzZHpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTY4OTAsImV4cCI6MjA4NzY5Mjg5MH0.adN_d2MG0ZkYczchc9OFQaQLtdSi64jsc7RdxcQDdlM
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SITE_URL=http://localhost:3000